*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.current-letter-correct {
    color: green;
    position: relative;
}

.current-letter-mistake {
    color: red;
    position: relative;
}

.current-bar-correct {
    position: absolute;
    border-left: 2px solid green;
    height: 2rem;
    bottom: 3px
}

.current-bar-mistake {
    position: absolute;
    border-left: 2px solid red;
    height: 2rem;
    bottom: 3px
}
